<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Alunos</title>
        <link rel="icon" type="image/x-icon" href="cd.png">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <h1 style="color: rgb(255, 255, 255); font-family:verdana; text-align:center";>Alunos</h1>
        <p style="color: rgb(255, 255, 255);">Menu Incial</p>
        <h2>Menu de Navegação</h2>
        <ul>
            <li><a href="index.html">Index</a></li>
            <li><a href="alunos.html">Alunos</a></li>
            <li><a href="meusdados.html">Meus Dados</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="professor.html">Professor</a></li>
            <li><a href="sala.html">Sala</a></li>
            <li><a href="disciplina.html">Disciplina</a></li>
        </ul>
        </body>
        
        <hr>

        <br><br>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>Data de Nascimento</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Estado-Matrícula</th>
            </tr>
            <tr>
                <td>1</td>
                <td>José</td>
                <td>12345678910</td>
                <td>01-10-2000</td>
                <td>(85) 992234569</td>
                <td>Rua orena blafes - 234</td>
                <td>Sim</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Maria</td>
                <td>10987654321</td>
                <td>04-06-2003</td>
                <td>(85) 998765432</td>
                <td>Rua magalhaes onar - 437</td>
                <td>Sim</td>
            </tr>
        </table>

        <br><br>
        <center>
            <button>Editar </button>
            <button>Excluir </button>
            <button onclick="window.location.href = '';">Cadastrar Aluno Novo</button>
        </center>
        

    </body>



</html>