<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>cadastrar Sala</title>
        <link rel="icon" type="image/x-icon" href="cd.png">
    </head>

    <body style="background-color: black;">
        <p style="color: blue;">Menu Incial</p>

        <nav>
            <a href="#">Menu</a>
            <a href="#">Alunos</a>
            <a href="#">Meus Dados</a>
            <a href="#">Login</a>
            <a href="#">Professor</a>
            <a href="#">Sala</a>
            <a href="#">Disciplina</a>

        <h1 style="color: blue; font-family:verdana; text-align:center";>Cadastrar Sala </h1>
        <hr>

        <form >
            <label style="color: white" for="nome">Nome da Sala</label>
            <input type="text" id="nome" name="nome"><br><br>
            
        </form>

        <br><br><br>
        <button type="submit">Cadastrar</button>

    </body>



</html