<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Disciplinas</title>
        <link rel="icon" type="image/x-icon" href="cd.png">
        <style>
            table { border-collapse: collapse;}
            table, th, td { border: 1px solid white;}
            table {margin-left: auto; margin-right: auto;}
            th, td { text-align: center;}
          </style>
    </head>

    <body style="background-color: black;">
        <p style="color: blue;">Menu Incial</p>

        <nav>
            <a href="#">Menu</a>
            <a href="#">Alunos</a>
            <a href="#">Meus Dados</a>
            <a href="#">Login</a>
            <a href="#">Professor</a>
            <a href="#">Sala</a>
            <a href="#">Disciplina</a>

        <h1 style="color: blue; font-family:verdana; text-align:center";>Disciplinas </h1>
        <hr>

        <br><br>
        <table style="color:white" width="1000">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Horário</th>
                <th>ID_Professor</th>
                <th>ID_Sala</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Matematica Finita</td>
                <td>Seg. Qua. e Sex. 14:00 - 16:00</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>FUP</td>
                <td>Seg. Qua. e Sex. 10:00 - 12:00</td>
                <td>2</td>
                <td>1</td>
            </tr>
        </table>

        <br><br>
        <center>
            <button>Editar </button>
            <button>Excluir </button>
            <button onclick="window.location.href = '';">Cadastrar Disciplina Nova</button>
        </center>
        

    </body>



</html>