<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Editar Disciplina</title>
        <link rel="icon" type="image/x-icon" href="cd.png">
        <link rel="stylesheet" href="../static/css/style.css">

    </head>

    <body style="background-color: black;">
        <p style="color: blue;">Menu Incial</p>

        <h2>Menu de Navegação</h2>
        <ul>
            <li><a href="index.html">Index</a></li>
            <li><a href="alunos.html">Alunos</a></li>
            <li><a href="meusdados.html">Meus Dados</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="professor.html">Professor</a></li>
            <li><a href="sala.html">Sala</a></li>
            <li><a href="disciplina.html">Disciplina</a></li>
        </ul>

        <h1 style="color: blue; font-family:verdana; text-align:center";>Editar Disciplina</h1>
        <hr>

        <form>
            <label style="color: white" for="nome">Nome da Disciplina</label>
            <input type="text" id="nome" name="nome"><br><br>
            <label style="color: white" for="Horário">Horário</label>
            <input type="datetime" id="horario" name="horario"><br><br>
            <label style="color: white" for="ID_professor">ID_Professor</label>
            <input type="number" id="id_professor" name="idprofessor"><br><br>
            <label style="color: white" for="ID_Sala">ID_Sala</label>
            <input type="number" id="id_sala" name="idsala"><br><br>

        </form>

        <br><br><br>
        <button type="submit">Editar</button>

    </body>



</html