<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Menu Principal</title>
        <link rel="icon" type="image/x-icon" href="cd.png">
    </head>

    <body style="background-color: black;">
        <p style="color: blue;">Menu Incial</p>

        <select name="Menu" id="opcoes">
            <option value="1">Index</option>
            <option value="2">Alunos</option>
            <option value="3">Professores</option>
            <option value="4">Salas</option>
            <option value="5">Disciplinas</option>
        </select>

        <h1 style="color: blue; font-family:verdana; text-align:center";>Escola do Seu Raimundo</h1>
        <hr>
        <p style="color: gold;">Informações sobre a Escola</p>
        <br><br><br>
        <img title="school" src="capa-blog-diferenciar-escola-min.png" alt="escola" width="600" height="400"/>

    </body>



</html>