<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Menu Principal</title>
        <link rel="icon" type="image/x-icon" href="cd.png">
        <link rel="stylesheet" href="../static/css/style.css">

    </head>

    <body>

        <ul>
            <li><a href="index.html">Index</a></li>
            <li><a href="alunos.html">Alunos</a></li>
            <li><a href="meusdados.html">Meus Dados</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="professor.html">Professor</a></li>
            <li><a href="sala.html">Sala</a></li>
            <li><a href="disciplina.html">Disciplina</a></li>
        </ul>

        <h1>Escola do Seu Raimundo</h1>
        <hr>
        <p style="color:aliceblue;">Informações sobre a Escola</p>
        <br><br><br>
        <img title="School" src="../../fotos/capa-blog-diferenciar-escola-min.png" alt="escola" width="600" height="400"/>

    </body>



</html>
