<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="icon" type="image/x-icon" href="cd.png">
    </head>

    <body style="background-color: black;">
        <h1 style="color: blue; font-family:verdana; text-align:center";>Login</h1>
        <hr>
        <p style="color: blue;">Essa é a página de login.</p>

        <form>
            <label style="color: white" for="username">Nome de Usuário:</label>
            <input type="text" id="username" name="Usuário" required>

            <br><br>
            <label style="color: white" for="password">Senha</label>
            <input type="password" id="pass" name="password" minlenght="8" required>

        </form>
        <br>
        <button onclick="window.location.href = 'teste.html';">Pronto</button>

    </body>



</html>