<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/style.css">

    </head>
    <body>
        <h2>Menu de Navegação</h2>
        <ul>
            <li><a href="index.html">Index</a></li>
            <li><a href="alunos.html">Alunos</a></li>
            <li><a href="meusdados.html">Meus Dados</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="professor.html">Professor</a></li>
            <li><a href="sala.html">Sala</a></li>
            <li><a href="disciplina.html">Disciplina</a></li>
        </ul>
        
        <h1>Editar Dados do Usuário</h1>
        <hr>

        <form action="#" method="post"> 
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome"><br>
            <label for="registro">Registro:</label>
            <input type="number" id="registro" name="registro"><br>
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco"><br>
            <label for="login">Login</label>
            <input type="text" id="login" name="login"><br><br>
            <button type="submit">Editar</button>
        </form>
        <br><br>

        <a href="#" >Alterar Senha</a>
    </body>
</html>