<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Sala X</title>
        <link rel="icon" type="image/x-icon" href="cd.png">
        <link rel="stylesheet" href="../static/css/style.css">

    </head>

    <body style="background-color: black;">
        <p style="color: blue;">Menu Incial</p>

        <h2>Menu de Navegação</h2>
        <ul>
            <li><a href="index.html">Index</a></li>
            <li><a href="alunos.html">Alunos</a></li>
            <li><a href="meusdados.html">Meus Dados</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="professor.html">Professor</a></li>
            <li><a href="sala.html">Sala</a></li>
            <li><a href="disciplina.html">Disciplina</a></li>
        </ul>

        <h1 style="color: blue; font-family:verdana; text-align:center";>Sala X</h1>
        <hr>

        <br><br>
        <table style="color:white" width="300">
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Sala 1</td>
            </tr>
        </table>

        <br><br>
        <center>
            <button>Editar Dados</button>
            <button>Excluir Dados</button>
        </center>
        <br><br>
        <center>
            <table style="color: white" width="300">
                <tr>
                    <th>Disciplinas Relacionadas</th>
                </tr>
                <tr>
                    <td>Disciplina 1</td>
                </tr>
                <tr>
                    <td>Disciplina 2</td>
                </tr>
                <tr>
                    <td>Disciplina 3</td>
                </tr>
                <tr>
                    <td>Disciplina 4</td>
                </tr>
            </table>
        </center>
        

    </body>



</html>