<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Professores</title>
        <link rel="icon" type="image/x-icon" href="cd.png">
        <style>
            table { border-collapse: collapse;}
            table, th, td { border: 1px solid white;}
            table {margin-left: auto; margin-right: auto;}
            th, td { text-align: center;}
          </style>
    </head>

    <body style="background-color: black;">
        <p style="color: blue;">Menu Incial</p>

        <select name="Menu" id="opcoes">
            <option value="1">Index</option>
            <option value="2">Alunos</option>
            <option value="3">Professores</option>
            <option value="4">Salas</option>
            <option value="5">Disciplinas</option>
        </select>

        <h1 style="color: blue; font-family:verdana; text-align:center";>Professores</h1>
        <hr>

        <br><br>
        <table style="color:white" width="1100">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Registro</th>
                <th>Endereço</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Afonso</td>
                <td>10192837465</td>
                <td>Rua facto bns - 134</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Joana</td>
                <td>11029384756</td>
                <td>Rua galho santos - 437</td>
            </tr>
        </table>

        <br><br>
        <center>
            <button>Editar </button>
            <button>Excluir </button>
            <button onclick="window.location.href = '';">Cadastrar Novo Professor</button>
        </center>
        

    </body>



</html>