<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alterar Senha</title>
    </head>
    <body>
        <h1>Alterar Senha</h1>
        <form action="#" method="post">
            <label for="senha_nova">Nova Senha</label>
            <input type="text" id="senha_nova" nome="senha_nova">
        </form>
        <button type="submit">Alterar</button>
    </body>
</html>
