<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Escola do Seu Raimundo</title>
        <link rel="icon" type="image/x-icon" href="cd.png">
        <link rel="stylesheet" href="../static/css/style.css">

    </head>
    <body style="background-color: black;">
        <h1 style="color: blue; font-family:verdana; text-align:center";>Escola do seu Raimundo</h1>
        <hr>
        <p style="color: blue;">Essa é a página inicial</p>
        <p style="color: red" title="Eu sou um texto">Isso é um parágrafo.</p>
        <a href="https://google.com"> LINK PARA O GOOGLE></a>


        <br><br><br>
        <img title="DATACIENCE" src="../../fotos/DS.jpg" alt="Ciencia de Dados" width="300" height="300"/>

        <br><br>
        <table style="color:white">
            <tr>
                <th>ID</th>
                <th colspan="2">Nome</th>
                <th>Matrícula</th>
            </tr>
            <tr>
                <td>1</td>
                <td colspan="2">José</td>
                <td>12345678910</td>
            </tr>
            <tr>
                <td>2</td>
                <td colspan="2">Maria</td>
                <td>10987654321</td>
            </tr>
        </table>

        <br><br><br>

        <br><br><br>
        <input type="text">
        <input type="button">

        <br><br>

        <button>Button</Button>
        <button>Reset</button>
        <button>Submit</button>
        

    </body>
</html>
